# Assignment
# Define int APP_HEARTBEAT_PERIOD_MS (default 500, range 100-2000)

config APP_HEARTBEAT_PERIOD_MS
    int "Application heartbeat period in milliseconds"
    range 100 2000
    default 500

source "Kconfig.zephyr"
